<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>  
  <div class="first container d-flex justify-content-center">
    <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:40px;"> 91 Social</h1>
  </div>
  <div class="container d-flex justify-content-center" style="text-align:center ">
    <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;"><b><i>Assignment-Frontend</i></b></h4>
  </div>
  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <div class="container d-flex justify-content-center" >
      <button type="submit" class="btn btn-outline-danger" [disabled]="!form.valid" >Submit</button>
    </div>
  </form>
</body>
</html>